# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
# *Need keep blank for build of QScintilla

# Executables
*.exe
*.out
*.app

# Qt pro user file
*.pro.user*

# P4 merge files
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*.orig

# Remove build folders that are created from non-shadowbuild
build-*/

# temp files under linux
*.~*

# Qt creator stuff
.qmake*
Makefile

# Cmake
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
